.nprogress-busy {
    .left-panel {
        transition: none !important;
    }
}

.left-panel {
    @apply fixed flex items-center justify-center border-r border-grey-lighter h-full;
    top: 5rem;
    color: #666;
    z-index: 1;
    background: #fff;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 0);
    img {
        width: 127px;
    }
    ;
    &.mobile-hidden {
        transform: translate(-100%, 0);
    }
    a {
        color: #666;
    }
    .menu {
        .link {
            @apply relative;
            &:before {
                @apply bg-grey-dark w-full absolute;
                content: "";
                height: 1px;
                bottom: -5px;
                left: 0;
                visibility: hidden;
                transform: scaleX(0);
                transition: all .25s ease-in-out;
            }
            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}

@screen md {
    .left-panel {
        top: 0;
        &.mobile-hidden {
            transform: translate(0, 0);
        }
    }
}
