@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import './lib/nprogress';
@import './components/sidenav';
@import './components/tabs';


.divider {
    margin: 20px 0;
    height: 1px;
    background: linear-gradient(to right, #DCDCDC, rgba(220, 220, 220, 0));
}

.php {
    background: #4F5D95;
}

.javascript {
    background: #f1e05a;
}


.keyword {
    background-color: #f1f8ff;
    color: #0366d6
}
